<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의사항 상세</title>

	<!--css 및 라이브러리 링크 시작-->
	<div th:replace="fragment/link :: link"/>
	<!--css 및 라이브러리 링크 끝-->
</head>
<style>
     .value {
        width: 400px;
    }
</style>
<body>
<!--header 시작-->
<div th:replace="fragment/header :: header"/>
<!--프로필 시작-->
<div th:replace="fragment/profile :: profile"/>
<!--프로필 끝-->
<!--header 끝-->

<div class="wrapper">
	<!--user_nav 시작-->
	<div th:replace = "fragment/service_aside :: service_aside"/>
	<!--user_nav 끝-->

        <section class="content">
			<header class="main-header clearfix">
				<h1 class="main-header__title">
					<i class="icon pe-7s-menu"></i>
					캐치테이블 <small> 문의및 개선사항</small>
				</h1>
				<div class="main-header__date">
					<i class="icon pe-7s-date"></i>
					<span class="date"></span>
				</div>
			</header>

		<div class="row">

			<div class="col-md-12">
				<article class="widget shadow">
					<header class="widget__header">
						<h3 class="widget__title">문의 사항</h3>
					</header>

					<div class="widget__content">
						제목 : <input type="text" class="input-text value" placeholder="" value="회원가입 문의"/>
                        </div>
                        <div>
                        작성자 : <input type="text" class="input-text value" value="김사과 (apple)">
                        </div>

						<textarea class="textarea" rows="6" placeholder="">회원가입 문의는 어떻게 하나요..?</textarea>
                        <hr>
                        <form>
                            관리자 (이레몬) : <input type="text" class="input-text value"> <button class="btn btn-skyblue">답글 등록</button>
                        </form>
						<div class="clearfix"></div>
				</article>
			</div>
		</div>
        </section>
	<!--footer 시작-->
	<div th:replace="fragment/footer :: footer"/>
	<!--footer 끝-->

</div> <!-- /wrapper -->

<!--js 연결 시작-->
<div th:replace="fragment/js :: js"/>
</body>
</html>