<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW 오너</title>

	<!--css 및 라이브러리 링크 시작-->
	<div th:replace="fragment/link :: link"/>
	<!--css 및 라이브러리 링크 끝-->
</head>
<style>
	.page_wrap {
		padding : 15px;
		margin-top: 20px;
	}

</style>
<body>
<!--header 시작-->
<div th:replace="fragment/header :: header"/>
<!--프로필 시작-->
<div th:replace="fragment/profile :: profile"/>
<!--프로필 끝-->
<!--header 끝-->


<div class="wrapper">
	<!-- 사이드바 시작 -->
	<div th:replace="fragment/aside_nav :: aside_nav"/>
	<!--사이드바 끝-->

        <section class="content">
			<header class="main-header clearfix">
			</header> <!--헤더 끝-->

			<div class="row">
				<div class="col-md-4"> <!--식당 1개 시작-->
					<article class="widget shadow">
						<header class="widget__header">
							<a href="/owner/new/detail"><h3 class="widget__title">식당 : 수라일점</h3></a>
						</header>
						<div class="widget__content">
							<p>문의자 : <span>안가도</span></p>
							<p>문의자 번호 : 010-1111-1111</p>
							<p>식당 지역 : 인천광역시 송도</p>
							<p>월 평균 예약 수 : 200건</p>
							<div>
								<a href="/owner/new/detail"><button class="btn btn-light">승인</button></a>
								<button class="modal__open btn btn-red">미승인</button>
							</div>
						</div>
					</article><!-- /widget -->
				</div> <!-- /식당 1개 끝 -->
			</div>

			
			<!--페이징 처리-->
			<div class="page_wrap">
				<div class="page_nation">
				   <a class="arrow pprev" href="#"></a>
				   <a class="arrow prev" href="#"></a>
				   <a href="#" class="active">1</a>
				   <a href="#">2</a>
				   <a href="#">3</a>
				   <a href="#">4</a>
				   <a href="#">5</a>
				   <a href="#">6</a>
				   <a href="#">7</a>
				   <a href="#">8</a>
				   <a href="#">9</a>
				   <a href="#">10</a>
				   <a class="arrow next" href="#"></a>
				   <a class="arrow nnext" href="#"></a>
				</div>
			 </div>
			<!--페이징 끝-->

		</section>
	<!--footer 시작-->
	<div th:replace="fragment/footer :: footer"/>
	<!--footer 끝-->
<div th:replace="fragment/new_owner_modal :: owner_modal"/>
</div> <!-- /wrapper -->

<!-- Scripts -->
<!--js 연결 시작-->
<div th:replace="fragment/js :: js"/>
<!--js 연결 끝-->



</body>
</html>